EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your-google-web-client-id-here
EXPO_PUBLIC_API_HOST=
# Cloudflare R2 Configuration
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=auto
R2_BUCKET_NAME=]
R2_PUBLIC_URL=
IMAGE_PREFIX=
R2_TOKEN =
AUTOSEND_API_KEY=
